@import 'libs/animate';
@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';
@import 'base/variables';
@import 'base/animations';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/buttons.scss';
@import 'blocks/advantages.scss';
@import 'blocks/titles.scss';
@import 'blocks/consultaion';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/footer';
@import 'blocks/feed';
@import 'blocks/modals';
@import 'blocks/pageup';

//media queries

@import 'mediaqueries/media_promo';
@import 'mediaqueries/media_advantages';
@import 'mediaqueries/media_consultaion';
@import 'mediaqueries/media_carousel';
@import 'mediaqueries/media_catalog';
@import 'mediaqueries/media_feed';
@import 'mediaqueries/media_modals';
