@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/buttons.scss';
@import 'blocks/advantages.scss';
@import 'blocks/titles.scss';

//media queries

@import 'mediaqueries/media_promo';
@import 'mediaqueries/media_advantages';