@media (max-width: 768px) {
    .catalog {
        h2 {
            font-size: 25px;
        }
        &__content {
            justify-content: space-around;
        }
    }

}

@media (max-width: 425px) {
    .catalog {
        &__tabs {
            margin: 30px 0 0 0;
        }
        &__tab {
            font-size: 10px;
            width: 25%;
        }
    }
    
}