@media (max-width: 768px) {
    .consultaion h2 {
        text-align: center;
    }
    .consultaion {
        &__descr {
            text-align: center;
        }
        &__form_wrapper {
            display: flex;
            justify-content: center;
        }
    }
    
}